h1 {
    text-decoration: underline;
    display: none;
}
h2 {
    font-size: 150%;
    padding-right: 10px;
    text-align: left;
}
h3 {
    color: #000000;
    font-size: 1.1em;
    padding-bottom: 10px;
    padding-left: 10px;
  }
a {
    color: hsla(0, 94%, 44%, 0.757);
    margin: auto;
    padding-top: 1px;
    border-style: double;
    border-color:red;
    border-radius: 10px;
}
a:visited {
    color: rgb(63, 0, 0)
}
a:hover {
    color: rgb(106, 24, 206)
}
a:active {
    color: blue;
}
nav {
    margin-bottom: 30px;
}
p {
    font-size: 18px;
    margin: .10%;
    display: inline-block;
}
body {
    padding: 50px;
    line-height: 0.5cm;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: palevioletred;  
}
img {
    width: 14%;
}