h2 {
    font-size: 150%;
}
h3 {
    color: #000000;
    font-size: 1.1em;
  }
a {
    color: hsla(0, 94%, 44%, 0.757);
}
p {
    font-size: 18px;
}
body {
    padding: 50px;
    line-height: 0.5cm;
}
img {
    width: 14%;
}